.button {
    background-color: aqua;
    border: none;
    font-size: 1.5em;
    font-family: 'Dela Gothic One', sans-serif;
    border-radius: 7px;
}

.Button {
    background-color: aqua;
    border: none;
    font-family: 'Dela Gothic One', sans-serif;
    border-radius: 9px;
}

.Controls {
   justify-content: center;
}
