

.ListGroup {
    justify-content: center;
    display: flex;
}

.Info {
    font-weight: bold;
}

.Option {
    background-color: rgb(119, 0, 255);
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
    
}

.Option:hover {
    background-color: rgb(58, 37, 247);
}
