@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik:wght@500;600&display=swap');
.App {
  text-align: center;
}

h3 {
  background-color: blue;
  color: white;
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 2em;
  margin: 0;
}

.boton {
  font-size: 15px;
  background-color: black;
  color: rgb(255, 255, 255);
  border:none;
  font-family: 'Dela Gothic One', sans-serif;
  padding: 0px 2em;
}

.navbar {
    text-decoration: none;
    background-color: black;
    padding: 0.5em;
}

.img-carrito {
  width: 2em;
}

.ecommerce {
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Dela Gothic One', sans-serif;
  margin-right: 500px;
  font-size: 1.5em;
}

.img-carrito {
  justify-content: end;
}